@mixin size($w:0, $h:0) {
  width: $w;
  height: $h;
}
@mixin twoCenter() {
  justify-content: center;
  align-items: center;
}
@mixin rotateXYZ($angleX:0deg, $angleY:0deg, $angleZ:0deg) {
  transform: rotateX($angleX) rotateY($angleY) rotateZ($angleZ);
}
//variables