@import "./reset";
@import "./variables";

.header, .section_btn-list {
  background-color: #bbbbff;
}
.header .row_title {
  padding-top: 40px;
}
.header .title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #333333;
}
.section_btn-list {
  position: sticky;
  top: 0;
  padding: 20px 0;
  box-shadow: 0 3px 3px 0px rgba($color: #000000, $alpha: .1);
  z-index: 1;
}
.section_btn-list .btn-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section_btn-list .btn-list button {
  display: block;
  margin: 5px;
  padding: 10px 20px;
  width: calc(50% - 10px);
  max-width: 400px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  background-color: rgba($color: #aaffaa, $alpha: 1.0);
  border: none;
}
.section_btn-list .btn-list button:hover {
  background-color: rgba($color: #88ff88, $alpha: 1.0);
}
.section_btn-list .btn-list button:active {
  background-color: rgba($color: #66ff66, $alpha: 1.0);
}
@media screen and (min-width: 576px) {
  .section_btn-list .btn-list button {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .header .title {
    font-size: 4rem;
  }
  .section_btn-list .btn-list {
    justify-content: center;
  }
  .section_btn-list .btn-list button {
    width: auto;
    margin: 0 5px;
  }
}
.main {
  .container {
    padding: 40px 0 330px;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .col {
      padding: 10px;
    }
  }
  .card {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgba(155, 155, 155, .2);
    transition: background-color .3s;
    &:hover {
      background-color: rgba(155, 155, 155, .4);
    }
    .pic {
      position: relative;
      width: 100%;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
      &::after {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 100%;
      }
    }
    .card-body {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .pokemonImg {
      width: 100%;
    }
    .pokemonId {
      font-size: 18px;
      font-weight: 400;
      color: #999999;
    }
    .pokemonName {
      font-size: 22px;
      font-weight: 500;
      color: #222222;
    }
    .btn {
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      padding: 3px 10px;
      font-size: 18px;
      font-weight: 400;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
.modal {
  .modal-dialog {
    max-width: 100%;
    @media screen and (min-width: 768px) {
      margin-top: 120px;
    }
    @media screen and (min-width: 992px) {
      max-width: 1000px;
    }
  }
  .modal-content {
    border: none;
  }
  .modal-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #cccccc;
    .btn-close {
      margin-right: 0;
    }
  }
  .modal-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .modal-title {
    font-size: 24px;
    color: #333333;
  }
  .pic {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
    img {
      width: 100%;
      max-width: 300px;
      @media screen and (min-width: 768px) {
        max-width: 400px;
      }
    }
    .tagBox {
      position: absolute;
      left: 0;
      top: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .pokemonType {
      display: inline-block;
      padding: 2px 7px 2px 5px;
      color: #ffffff;
      border-radius: 0 7px 7px 0;
      font-size: 20px;
      font-weight: 400;
    }
    .pokemonType + .pokemonType {
      margin-top: 10px;
    }
  }
  .attr {
    font-size: 16px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
  .value-bar {
    display: block;
    width: 0px;
    height: 18px;
    background-clip: padding-box;
    transition: all .7s;
    @media screen and (min-width: 768px) {
      height: 20px;
      margin-bottom: 5px;
    }
  }
}