@mixin size($w:0, $h:0) {
  width: $w;
  height: $h;
}
@mixin twoCenter() {
  justify-content: center;
  align-items: center;
}
@mixin rotateXYZ($angleX:0deg, $angleY:0deg, $angleZ:0deg) {
  transform: rotateX($angleX) rotateY($angleY) rotateZ($angleZ);
}
// utilities
.open {
  display: block !important;
}
.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
//variables
//default color
$color-white: #ffffff;
.color-white {
  color: $color-white;
}
$color-darkBlack: #252525;
.color-darkBlack {
  color: $color-darkBlack;
}
$color-darkGray: #555555;
.color-darkGray {
  color: $color-darkGray;
}
$color-lightBlue: #66b8e0;
.color-lightBlue {
  color: $color-lightBlue;
}
$color-gray: #7d7d7d;
.color-gray {
  color: $color-gray;
}
$color-main: #fc8f44;
$color-header: #003c5a;
