* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
button {
  background: none;
}
button:focus {
  outline: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  text-decoration: none;
}
