@import "./reset";
.container {
  margin-top: 30px;
}
.setting{
  margin-bottom: 10px;
  .url {
    width: 1000px;
  }
}
.box {
  --box-width: 600px;
  --box-height: 600px;
  --h-num-cells: 3;
  --v-num-cells: 3;
  --cell-width: calc(var(--box-width) / var(--h-num-cells));
  --cell-height: calc(var(--box-height) / var(--v-num-cells));
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid #ff0000;
  overflow: visible;
  .cell {
    position: absolute;
    width: calc(var(--box-width) / var(--h-num-cells));
    height: calc(var(--box-height) / var(--v-num-cells));
    background-image: url("https://i.picsum.photos/id/1059/600/600.jpg?hmac=dcI2tdmoiTwbxMjmWrtO5TuRHRwPho50YlFMyIptCh8");
    background-repeat: no-repeat;
    transition: all .3s;
    border: 1px solid #ffffff;
  }
  .cell.blank {
    opacity: 0.3;
  }
}
