@import "./reset";
.container {
  margin-top: 30px;
}
.setting {
  margin-bottom: 10px;
  .url {
    width: 1000px;
  }
}
.box {
  --box-width: 600px;
  --box-height: 600px;
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  .cell {
    display: block;
    position: absolute;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    transition: all .3s;
    // z-index: -9;
  }
  .cell.blank {
    opacity: 1;
  }
}
.img-block {
  display: flex;
  justify-content: center;
  img {
    display: block;
  }
}
// oo功能
.pointer {
  cursor: pointer
}
.dontClick {
  z-index: -9;
}