@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin twoCenter() {
    justify-content: center;
    align-items: center;
}
//variables
$mainGreen: #518432;
$darkBlack: #333333;
$blueTag: #48c8fd;
$redTag: #ef3e3e;
//