@import "./mixins";
h3, h4, h5, h6 {
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.container {
  width: 960px;
  margin: 100px auto 100px;
}
.item {
  display: flex;
  @include size(100%, calc(388px + 364px));
  > * {
    flex-shrink: 0;
    align-self: flex-start;
  }
  .info1 {
    @include size(355px, 388px);
    display: flex;
    flex-direction: column;
    z-index: 1;
    .title {
      @include size(100%, 138px);
      display: flex;
      background-color: rgb(179, 0, 0);
      h5 {
        writing-mode: vertical-lr;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120px;
        font-weight: 100;
        line-height: 0.8;
      }
      h3 {
        margin: 0 10px;
        font-size: 50px;
      }
    }
    .caption {
      padding: 30px;
      flex-grow: 1;
      background-color: #000000;
      h4 {
        justify-content: flex-start;
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
  .main-pic {
    position: relative;
    z-index: -1;
    .play {
      position: absolute;
      @include size(57px, 36px);
      background-color: rgb(179, 0, 0);
      display: flex;
      .icon {
        margin: auto;
        border-top: 10px solid transparent;
        border-left: 20px solid #ffffff;
        border-bottom: 10px solid transparent;
      }
    }
  }
  .info2 {
    position: relative;
    padding: 18px 25px;
    background-color: #dddddd;
    h5, h6 {
      justify-content: flex-start;
      font-size: 18px;
    }
    h5 {
      font-weight: 600;
      color: rgb(179, 0, 0);
      margin-bottom: 10px;
      &::after {
        margin-left: 10px;
        content: '';
        @include size(1px, 1px);
        border-top: 1px solid rgb(179, 0, 0);
        flex-grow: 1;
      }
    }
    h6 {
      display: inline-block;
      padding: 2px 4px;
      background-color: #000000;
      border-radius: 3px;
    }
    p {
      position: relative;
      margin: 2px 0 5px 22px;
    }
    p::before {
      position: absolute;
      top: 10px;
      left: -22px;
      content: '';
      @include size(0, 0);
      border: 2px solid rgb(179, 0, 0);
      background-color: rgb(179, 0, 0);
      margin-left: 10px;
    }
  }
  .decoration {
    position: relative;
    background-color: #eeeeee;
    z-index: -2;
  }
  &:nth-child(odd) {
    .info1 .title {
      flex-direction: row;
    }
    .main-pic {
      left: -168px;
      top: 138px;
      .play {
        right: 0;
        top: 50%;
        transform: translate(15%, -50%);
      }
    }
    .info2 {
      left: calc(-695px + -305px);
      top: 536px;
      @include size(680px, 275px);
    }
    .decoration {
      left: calc(-680px + -695px + 168px);
      top: 35px;
      @include size(438px, 290px);
    }
  }
  &:nth-child(even) {
    .info1 .title {
      flex-direction: row-reverse;
    }
    .main-pic {
      left: 95px;
      top: 138px;
      .play {
        left: 0;
        top: 50%;
        transform: translate(-15%, -50%);
      }
    }
    .info2 {
      left: calc(695px + 355px);
      top: 538px;
      @include size(680px, 200px);
    }
    .decoration {
      left: calc(680px + 695px + 191px);
      top: 59px;
      @include size(568px, 413px);
    }
  }
  &:nth-child(5) .info2 {
    @include size(680px, 200px);
  }
  //偶數item反向flex流，且高度減少蓋住上方
  &:nth-child(even) {
    flex-direction: row-reverse;
    height: 690px;
  }
}