@import "./reset";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  }
}
:root {
  --bg-color: #eeeeff;
  --border-width: 2px;
  --border-color: #aaaacc;
  --text-color: #222277;
  --table-radius: 10px;
  --blue: #5555FF;
  --pink: #D65DB1;
  --green: #00C9A7;
  --orange: #FF8066;
  --purple: #845EC2;
  --brown: #936C00;
  --dark-green: #005B44;
}
* {
  font-family: 'Open Sans', sans-serif;
}
.row {
  .col {
    padding: 10px;
  }
}
.row_title {
  user-select: none;
  .col {
    display: flex;
    position: relative;
    color: #222299;
    .month-name {
      margin-left: 20%;
      font-size: 32px;
      font-weight: 600;
    }
    .year-name {
      position: absolute;
      right: 25%;
      bottom: 10px;
      font-weight: 600;
      font-size: 24px;
    }
    .fas {
      --distance: 60px;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #7777cc;
      font-size: 36px;
      cursor: pointer;
      &:hover {
        color: #9999ee;
      }
      &:active {
        color: #aaaaff;
      }
    }
    .fas:nth-of-type(1) {
      left: var(--distance);
    }
    .fas:nth-of-type(2) {
      left: 0;
    }
    .fas:nth-of-type(3) {
      right: 0;
    }
    .fas:nth-of-type(4) {
      right: var(--distance);
    }
    .reset {
      right: calc(2.2 * var(--distance));
    }
  }
}
.row_day {
  user-select: none;
  color: var(--text-color);
  .col {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    border-top: var(--border-width) solid var(--border-color);
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: calc(var(--border-width) * 2) solid var(--border-color);
    &:first-child {
      border-left: var(--border-width) solid var(--border-color);
    }
  }
  .col:first-child {
    border-top-left-radius: var(--table-radius);
  }
  .col:last-child {
    border-top-right-radius: var(--table-radius);
  }
}
.row_date {
  .col {
    position: relative;
    padding: 10px 0px 10px 10px;
    height: 100px;
    color: var(--text-color);
    font-weight: 600;
    outline: none;
    overflow-y: scroll;
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    scrollbar-width: thin;
    &:hover {
      box-shadow: 0 0 6px 1px #5555ff;
      z-index: 1;
    }
    &::-webkit-scrollbar {
      background: transparent;
      width: 16px;
    }
    &::-webkit-scrollbar-thumb {
      background: #b0b0b0;
      border: 6px solid var(--bg-color);
      border-radius: 8px;
      width: 8px;
      height: 8px;
      &:hover {
        background: #c0c0c0;
      }
      &:active {
        background: #b9b9c0;
      }
    }
    &.today-color::-webkit-scrollbar-thumb {
      border-color: var(--today-color);
    }
    .date-num {
      float: right;
      position: sticky;
      top: 0;
      margin-left: auto;
      user-select: none;
    }
    &:nth-child(7n + 1) {
      border-left: var(--border-width) solid var(--border-color);
    }
    &.focus {
      box-shadow: 0 0 6px 1px #5555ff;
      z-index: 1;
    }
    .mini-matter {
      display: flex;
      position: relative;
      font-size: 15px;
      .time-area {
        display: flex;
        justify-content: flex-end;
        width: 40px;
        color: #ff7777;
      }
      .text-area {
        margin-left: 5px;
      }
      &:nth-child(7n + 1) > .time-area {
        color: var(--blue);
      }
      &:nth-child(7n + 2) > .time-area {
        color: var(--pink);
      }
      &:nth-child(7n + 3) > .time-area {
        color: var(--green);
      }
      &:nth-child(7n + 4) > .time-area {
        color: var(--orange);
      }
      &:nth-child(7n + 5) > .time-area {
        color: var(--brown);
      }
      &:nth-child(7n + 6) > .time-area {
        color: var(--purple);
      }
      &:nth-child(7n + 7) > .time-area {
        color: var(--dark-green);
      }
    }
  }
  .other-month-color > * {
    opacity: .3;
  }
  .today-color {
    background-color: var(--today-color);
  }
  --today-color: #d0d0ff;
}
body {
  background-color: var(--bg-color);
  position: relative;
  display: flex;
  justify-content: center;
}
#editor-check, #time-picker-check {
  width: 0;
  height: 0;
}
#editor-check:checked + #editor {
  display: block;
}
#time-picker-check:checked + #time-picker {
  display: flex;
}
#editor, #time-picker {
  display: none;
  position: absolute;
}
#editor {
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.editor-window {
  position: absolute;
  width: 350px;
  height: 450px;
  padding: 40px 0 60px;
  border-radius: 12px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: .3);
  z-index: 9;
  @mixin pseudoX($w, $h, $color) {
    &::before, &::after {
      position: absolute;
      display: block;
      content: '';
      width: $w;
      height: $h;
      background-color: $color;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .ex-btn {
    position: absolute;
    border-radius: 50%;
    border: none;
    transition: background-color .2s;
    cursor: pointer;
  }
  .close {
    top: 15px;
    right: 15px;
    width: 28px;
    height: 28px;
    @include pseudoX(20px, 2px, #555555);
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:hover {
      background-color: #eeeeee;
    }
  }
  .add {
    display: block;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ddddff;
    &:hover {
      background-color: #ccccff;
      &::before, &::after {
        background-color: #4444cc;
      }
    }
    @include pseudoX(27px, 4px, #6666dd);
    &::after {
      transform: rotate(90deg);
    }
  }
  .matter-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 60px;
    padding-right: 20px;
    margin-right: 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #b0b0b0;
      border: 4px solid var(--bg-color);
      border-radius: 8px;
      width: 16px;
      height: 16px;
      &:hover {
        background: #cacad0;
      }
      &:active {
        background: #b9b9c0;
      }
    }
  }
  .matter {
    display: flex;
    position: relative;
    padding: 2px 2px;
    margin-bottom: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    user-select: none;
    border-bottom: 2px solid transparent;
    &.editing {
      border-color: #333399;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: calc(100% + 10px);
      top: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 3px;
      background-color: #7777ff;
      transform: rotate(45deg) scale(1);
      transition: transform .3s;
    }
    &:nth-child(7n + 1)::before {
      background-color: var(--blue);
    }
    &:nth-child(7n + 2)::before {
      background-color: var(--pink);
    }
    &:nth-child(7n + 3)::before {
      background-color: var(--green);
    }
    &:nth-child(7n + 4)::before {
      background-color: var(--orange);
    }
    &:nth-child(7n + 5)::before {
      background-color: var(--brown);
    }
    &:nth-child(7n + 6)::before {
      background-color: var(--purple);
    }
    &:nth-child(7n + 7)::before {
      background-color: var(--dark-green);
    }
    .time-area {
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
      color: #222222;
      width: 52px;
      transition: all .3s;
      // &.picking {
      //   color: #4444ff;
      //   text-shadow: 0 0 1px rgba($color: #ffffff, $alpha: .3);
      //   transform: scale(1.1);
      // }
    }
    .text-area {
      margin-left: 5px;
      outline: none;
      border: none;
      color: var(--text-color);
      font-size: 20px;
      font-weight: 600;
      background-color: transparent;
      flex-grow: 1;
      white-space: pre-wrap;
      overflow-x: hidden;
    }
    .time-picker {
      outline: none;
      border: none;
    }
    .in-btn {
      display: none;
      justify-content: center;
      align-items: center;
      padding: 0 4px;
      color: #4444cc;
      cursor: pointer;
      &:hover {
        color: #6666dd;
      }
      &:active {
        color: #8888ee;
      }
    }
    &:hover {
      border-color: #339;
      .in-btn {
        display: flex;
      }
    }
  }
}
#time-picker {
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: .3);
  z-index: 10;
  display: none;
  .ampm {
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 30px;
    color: rgba($color: #222277, $alpha: .7);
    font-size: 30px;
    font-weight: 600;
    border: none;
    overflow: hidden;
    &:hover {
      color: #3333cc;
    }
    &:active {
      color: #6666ff;
    }
  }
}
.clock {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  border: 5px solid rgba($color: #000044, $alpha: .4);
  border-radius: 50%;
  transition: border .15s, box-shadow .15s;
  &:hover {
    border-color: #4444cc;
    box-shadow: 0 0 7px 0 #aaaaff, inset 0 0 4px 0 #aaaaff;
  }
  .display-box {
    height: 60px;
    margin: auto;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba($color: #000044, $alpha: .4);
    font-size: 60px;
    font-weight: 500;
    left: 0;
    &, & > * {
      font-family: 'Open Sans', sans-serif;
    }
    .picking {
      color: #4444ff;
      text-shadow: 1px 2px 4px #aab;
    }
  }
  .mark-group {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .markline {
    width: 5px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    background-color: #000044;
    opacity: .2;
    --distY: -100px;
    &.hover {
      background-color: #4444ff;
      box-shadow: 0 0 7px 1px #4444ff;
      opacity: .65;
    }
  }
  .markline:nth-child(1) {
    transform: rotate(30deg) translateY(var(--distY));
  }
  .markline:nth-child(2) {
    transform: rotate(60deg) translateY(var(--distY));
  }
  .markline:nth-child(3) {
    transform: rotate(90deg) translateY(var(--distY));
  }
  .markline:nth-child(4) {
    transform: rotate(120deg) translateY(var(--distY));
  }
  .markline:nth-child(5) {
    transform: rotate(150deg) translateY(var(--distY));
  }
  .markline:nth-child(6) {
    transform: rotate(180deg) translateY(var(--distY));
  }
  .markline:nth-child(7) {
    transform: rotate(210deg) translateY(var(--distY));
  }
  .markline:nth-child(8) {
    transform: rotate(240deg) translateY(var(--distY));
  }
  .markline:nth-child(9) {
    transform: rotate(270deg) translateY(var(--distY));
  }
  .markline:nth-child(10) {
    transform: rotate(300deg) translateY(var(--distY));
  }
  .markline:nth-child(11) {
    transform: rotate(330deg) translateY(var(--distY));
  }
  .markline:nth-child(12) {
    transform: rotate(0deg) translateY(var(--distY));
  }
}