.container-header .title {
  padding-top: 20px;
}
.container-header .title h1 {
  font-size: 2.3rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .container-header .title h1 {
    font-size: 2.7rem;
  }
}
.container-header .buttonGroup {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-header button {
  padding: 10px 15px;
  margin: 0 10px 10px;
  background-color: #aaf;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .container-header .buttonGroup {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  .container-header button {
    margin: 0 10px 0;
  }
}
.container-header button:hover {
  background-color: #99f;
}
.container-header button:active {
  background-color: #88f;
}
.container-pokemons .col {
  padding: 10px;
}
.container-pokemons .item {
  padding: 10px;
  background-color: rgba(155, 155, 155, .2);
  border-radius: 10px;
  transition: background-color .3s;
}
@media screen and (min-width: 768px) {
  .container-pokemons .item:hover {
    background-color: rgba(155, 155, 155, .7);
  }
}
.pic {
  position: relative;
  width: 100%;
}
.pic::after {
  display: block;
  content: '';
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
.pic .img-pokemon {
  position: absolute;
  width: 100%;
  object-fit: cover;
}
.pokemonID {
  font-size: 18px;
  color: #999999;
}
.pokemonName {
  font-size: 26px;
  font-weight: 700;
}
.pokemonType {
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 5px;
}
.pokemonType + .pokemonType {
  margin-left: 10px;
}
#switch-check {
  width: 0;
  height: 0;
  position: absolute;
}
#pokemon-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .container-pokemons {
    margin-bottom: 400px;
  }
  #pokemon-info {
    --height: 400px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: var(--height);
    position: fixed;
    left: 0;
    bottom: calc(-1 * var(--height));
    padding: 30px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, .7);
    transition: bottom .4s;
  }
  #switch-check:checked ~ #pokemon-info {
    top: initial;
    bottom: 0;
  }
  #pokemon-info .switch-icon {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 10px;
    bottom: calc(100% + 10px);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
  }
  #pokemon-info .switch-icon svg {
    width: 100%;
    height: 100%;
  }
  #pokemon-info .attr {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 2px;
  }
  #pokemon-info .value-bar {
    display: block;
    width: 0;
    height: 20px;
    margin-bottom: 5px;
    background-clip: padding-box;
    transition: width .3s;
  }
  #pokemon-info .HP + .value-bar {
    background-color: #ff7777;
  }
  #pokemon-info .Attack + .value-bar {
    background-color: #ffcc00;
  }
  #pokemon-info .Defense + .value-bar {
    background-color: #77ff77;
  }
  #pokemon-info .SpecialAttack + .value-bar {
    background-color: #ff3333;
  }
  #pokemon-info .SpecialDefense + .value-bar {
    background-color: #33ff33;
  }
  #pokemon-info .Speed + .value-bar {
    background-color: #7777ff;
  }
}
/*#region type colors*/
.Fire {
  background: #fd7d24;
}
.Water {
  background: #4592c4;
}
.Grass {
  background: #9bcc50;
}
.Poison {
  background: #b97fc9;
}
.Bug {
  background: #729f3f;
}
.Flying {
  color: #555555;
  background: #3effff;
}
.Electric {
  color: #555555;
  background: #eed535;
}
.Ground {
  background: #ab9842;
}
.Fairy {
  color: #555555;
  background: #fdb9e9;
}
.Normal {
  background: #a4acaf;
}
.Psychic {
  background: #f366b9;
}
.Rock {
  background: #a38c21;
}
.Fighting {
  background: #d56723;
}
.Ice {
  background: #51c4e7;
}
.Dark {
  background: #707070;
}
.Dragon {
  background: #f16e57;
}
.Steel {
  background: #9eb7b8;
}
.Ghost {
  background: #7b62a3;
}
/*#endregion type colors*/