@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin maxSize($maxW, $maxH) {
    max-width: $maxW;
    max-height: $maxH;
}
@mixin twoCenter() {
    justify-content: center;
    align-items: center;
}
//variables
$mainGreen: #518432;
$darkBlack: #333333;